<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>  
        <title>Search Results</title>
    </head>
    <body class="mb-2 text-white">
        <% include partials/navbar %>
        
        <h1>Search results: </h1>
        
        <div>
            <% if (searchResults.length == 0){ %>
                <h6>No results found . . .</h6>
            <% } else { %>
                <% for(var i=0; i<searchResults.length; i++) {%>
                    <div class='m-5 tileBackground' value="<%= searchResults[i].sourceUrl %>">
                       <button id="<%= i %>" type='button' class='btn btn-primary recipeSummary' value="<%= searchResults[i].id %>"> <%= searchResults[i].title %></button>
                       <h6>Ready in <%= searchResults[i].readyInMinutes %> minutes</h6>
                       <h6>Servings: <%= searchResults[i].servings %> </h6>
                       <img src="https://spoonacular.com/recipeImages/<%= searchResults[i].id%>-312x231">
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <div id="recipeSummaryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="recipeSummaryModalTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content tileBackground">
                    <div class="modal-header">
                        <h5 class="modal-title" id="recipeSummaryModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="recipeSummaryModalBody">
                            <div class="text-center" id="loader">
                              <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div>
                           <a id="linkToSource" href="">Link to Recipe Source</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>       
    </body>
    
          
    <script>
        $(document).on('click', '.recipeSummary', function(e) {
            var link = $(this).parent().attr('value')
            $("#recipeSummaryModalTitle").empty();
            $("#recipeSummaryModalBody").empty();
            $("#loader").show();
            $.ajax({
                    method: "GET",
                    url: "/recipeSummary",
                    dataType: "json",
                    data: {
                        "id": $(this).attr("value")
                    }
                })
                .done(function(result) {
                    $("#loader").hide();
                    $("#recipeSummaryModalTitle").html(result.title);
                    $("#recipeSummaryModalBody").html(result.summary);
                    $("#linkToSource").attr("href", link);
                });
            $('#recipeSummaryModal').modal('show');
        });
    </script>
</html>