<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>  
        <title>Search Results</title>
    </head>
    <body class="mb-2 text-white">
        
        <h1>Search results for: <%= query %> </h1>
        
        <div>
            <% for(var i=0; i<searchResults.length; i++) {%>
                <div class='m-5'>
                   <button type='button' class='btn btn-primary recipeSummary' value="<%= searchResults[i].id %>"> <%= searchResults[i].title %></button>
                   <h6>Ready in <%= searchResults[i].readyInMinutes %> minutes</h6>
                   <h6>Servings: <%= searchResults[i].servings %> </h6>
                   <img src="https://spoonacular.com/recipeImages/<%= searchResults[i].image%>">
                </div>
            <% } %>
        </div>
        
        <div id="recipeSummaryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="recipeSummaryModalTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="recipeSummaryModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <p id="recipeSummaryModalBody">
                            <div class="text-center" id="loader">
                              <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>       
    </body>
    
          
    <script>
        $(document).on('click', '.recipeSummary', function(e) {
            $("#recipeSummaryModalTitle").empty();
            $("#recipeSummaryModalBody").empty();
            $("#loader").show();
            $.ajax({
                    method: "GET",
                    url: "/recipeSummary",
                    dataType: "json",
                    data: {
                        "id": $(this).attr("value")
                    }
                })
                .done(function(result) {
                    $("#loader").hide();
                    console.log(result);
                    $("#recipeSummaryModalTitle").html(result.title);
                    $("#recipeSummaryModalBody").html(result.summary);
                });
            $('#recipeSummaryModal').modal('show');
        });
    </script>
</html>